<a href="https://colab.research.google.com/github/meinalisaa/campuran/blob/main/Tugas1_lengkap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tugas 1 Lab Pembelajaran Mesin
---
* Nama : Meina Lisa
* NIM  : 191402032
* Kom  : B, Teknologi Informasi

(penjelasan melalui komentar dipisah dibawah)

In [266]:
a = 5
s = a - 1 # untuk spasi blok *
for i in range(0, a):
  for j in range(0, s):
    print(' ', end= '') #space
  s-=1
  for j in range(0, i+1):
    print('*', end= '')

  for j in range(0, a):
    print('q', end= '')
  a -= 1
  print('')


b = 5
s1 = b - 1 # untuk spasi blok 1
s2 = b - 1 # untuk spasi blok 2
for i in range(0, b):
  for j in range(0, i+1):
    print('o', end= '')
  for j in range(0, s1):
    print(' ', end= '') #space
  s1 -= 1

  if(i%2==0):
    for j in range(0, s2):
      print(' ', end= '') #space
    s2-=2
    for j in range(0, i+1):
      print('2', end= '')
    print('')
  else:
    for j in range(0, i+1):
      print('2', end= '')
    for j in range(0, s2+1):
      print(' ', end='') #space
    print('')

    *qqqqq
   **qqqq
  ***qqq
 ****qq
*****q
o        2
oo   22
ooo    222
oooo 2222
ooooo22222

In [247]:
a = 5
s = a - 1 # untuk spasi
for i in range(0, a):
  for j in range(0, s):
    print(' ', end= '')
  s-=1

  for j in range(0, i+1):
    print('*', end= '')
  print('')

    *
   **
  ***
 ****
*****

In [248]:
a = 5
s = a - 1 # untuk spasi
for i in range(0, a):
  for j in range(0, a):
    print('q', end= '')
  a -= 1
  print('')

qqqqq
qqqq
qqq
qq
q

In [249]:

b = 5
s1 = b - 1 # untuk spasi blok 1
for i in range(0, b):
  for j in range(0, i+1):
    print('o', end= '')
  for j in range(0, s1):
    print(' ', end= '') #space
  s1 -= 1
  print('')

o
oo
ooo
oooo
ooooo

In [262]:
b = 5
s2 = b - 1 # untuk spasi blok 2
for i in range(0, b):
  if(i%2==0):
    for j in range(0, s2):
      print(' ', end= '') #space
    s2-=2
    for j in range(0, i+1):
      print('2', end= '')
    print('')
  else:
    for j in range(0, i+1):
      print('2', end= '')
    for j in range(0, s2+1):
      print(' ', end='') #space
    print('')

    2
22
  222
2222
22222

In [252]:
a = 5
s = a - 1 # untuk spasi
for i in range(0, a):
  for j in range(0, s):
    print(' ', end= '')
  s-=1

  for j in range(0, i+1):
    print('*', end= '')

  for j in range(0, a):
    print('q', end= '')
  a -= 1
  print('')

    *qqqqq
   **qqqq
  ***qqq
 ****qq
*****q

In [253]:
b = 5
s1 = b - 1 # untuk spasi blok 1
s2 = b - 1 # untuk spasi blok 2
for i in range(0, b):
  for j in range(0, i+1):
    print('o', end= '')
  for j in range(0, s1):
    print(' ', end= '') #space
  s1 -= 1

  if(i%2==0):
    for j in range(0, s2):
      print(' ', end= '') #space
    s2-=2
    for j in range(0, i+1):
      print('2', end= '')
    print('')
  else:
    for j in range(0, i+1):
      print('2', end= '')
    for j in range(0, s2+1):
      print(' ', end='') #space
    print('')

o        2
oo   22
ooo    222
oooo 2222
ooooo22222

In [254]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

In [255]:
for i in range(0, 5):
  for j in range(0, i+1):
    print('* ', end= '')
  print('')

*
* *
* * *
* * * *
* * * * *

In [256]:
a=6
for i in range(0, a):
  for j in range(0, a-1):
    print('* ', end= '')
  a -= 1
  print('')

* * * * *
* * * *
* * *
* *
*

In [257]:
a = 5
s = 2 * a - 2 # untuk spasi
for i in range(0, a):
  for j in range(0, s):
    print(' ', end= '')
  s-=2
  for j in range(0, i+1):
    print('* ', end= '')
  print('')

        *
      * *
    * * *
  * * * *
* * * * *

In [258]:
a = 5
s = 0 # untuk spasi
for i in range(0, a):
  for j in range(0, s):
    # print(j, end='')
    print(' ', end= '')
  s += 2
  for j in range(0, a):
    print('* ', end= '')
  a -= 1
  print('')

* * * * *
  * * * *
    * * *
      * *
        *

In [259]:
a = 5
s = a-1 # untuk spasi
for i in range(0, a):
  for j in range(0, s):
    print(' ', end= '')
  s -= 1
  for j in range(0, i+1):
    print('* ', end= '')
  print('')

    *
   * *
  * * *
 * * * *
* * * * *

In [260]:
a = 5
s = 0 # untuk spasi
for i in range(0, a):
  for j in range(0, s):
    print(' ', end= '')
  s += 1
  for j in range(0, a):
    print('* ', end= '')
  a -= 1
  print('')

* * * * *
 * * * *
  * * *
   * *
    *